@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #131313;
}

.slider-title {
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin-bottom: 5rem;
  color: rgb(115,243,247);
  
}

.slider-title span {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
  
  

}
  

.card-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.container {
  position: relative;
  margin-top: 80px;
}


.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  display: block;
  background: #fff;
  padding: 54px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}


.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: rgb(115,243,247);
}

.card-list .card-link .card-image {
  width: 300px; 
  min-height: 400px; 
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.card-list .card-link .badge {
  color: rgb(115,243,247);
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background: rgb(243,255,255);
  margin: 16px 0 18px;
}

.card-list .card-link .badge-designer {
  color: rgb(115,243,247);
  background: rgb(243,255,255);
}

.card-list .card-link .badge-marketer {
  color: rgb(115,243,247);
  background: rgb(243,255,255);
}

.card-list .card-link .badge-gamer {
  color: rgb(115,243,247);
  background: rgb(243,255,255);
}

.card-list .card-link .badge-editor {
  color: rgb(115,243,247);
  background: rgb(243,255,255);
}

.card-list .card-link .card-title {
  color: #000;
  font-size: 1.19rem;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: rgb(115,243,247);
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgb(115,243,247);
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: rgb(115,243,247);
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: rgb(115,243,247);
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #5372F0;
  margin-top: -35px;
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

.gradient-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(270deg, #ddee45 10%, #620dc4 100%);
  border: none;
  padding: 15px 20px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.gradient-button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) scale(1.1);
}

