@import url('https://fonts.googleapis.com/css?family=Poppins');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: #00ffee;
    --first-color: hsl(298, 71%, 16%);
    --first-color-light: hsl(38, 100%, 78%);
    --first-color-alt: hsl(56, 63%, 58%);
    --second-color: hsl(133, 22%, 87%);
    --dark-color: hsl(175, 98%, 51%);
    --white-color: hsl(212, 4%, 95%);
    --body-color: hsl(214, 10%, 31%);
    --container-color: hsl(318, 67%, 28%);
    --body-font: "Bai Jamjuree", sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
  
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
  background: url(brobro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
 color: transparent;

}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 15%;
  background: rgba(0, 0,  0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon{
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}
.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo :hover{
  transform: scale(1.1);
}
span{
  background: linear-gradient(
    270deg,
    #ddee45 10%,
    #620dc4 100%
 );
  background-clip: text;
  color: transparent;
}



.navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradient-btn{
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(
    270deg,
    #ddee45 10%,
    #620dc4 100%
  );
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
}
.gradient-btn :hover{
  transform: scale(1.05);
}

section{
  min-width: 100vh;
  padding: 35rem 15%;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  

}

.home .zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.home .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.home-content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h1{
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
  color: rgb(115,243,247);
}
.home-content h3{
  margin: 1rem 0;
  font-size: 4rem;
  color: rgb(115,243,247);
  
}
.home-content p{
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.8;
  color: rgb(115,243,247);

}
.home-img img{
  width: 24vw;
  border-radius: 50%;
  box-shadow: 0 0 40px var(--main-color);
  transition: 0.4s ease-in-out;
}
.home-img img:hover{
  box-shadow: 0 0 40px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}
.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover{
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2)translate(-5px);
  box-shadow: 0 0 25px var(--main-color);
}
.btn-group{
  display: flex;
  gap: 1.5rem;
}
.btn{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color),
              0 0 25px var(--main-color);
}
.about{
  padding: 30rem 15%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}
.about-img img{
  width: 24vw;
  border-radius: 50%;
  border: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.about-img img:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}
.about-content h2{
  font-size: 7rem;
  text-align: left;
  color: rgb(115,243,247);
  

}
.about-content p{
  font-size: 1.8rem;
  color: rgb(115,243,247);
}
.about-content btn{
  margin: 2rem 0;
}

::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-track{
  background-color: var(--bg-color);
}


.event{
  min-width: 100vh;
  padding: 15rem 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--bg-color);
}

.event h2{
  font-size: 5rem;
  justify-content: center;
  text-align: center;
  color: rgb(115,243,247);
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1300px;
  margin: 0 50px 40px;

  
}

.card-slider .card-item {
  user-select: none;
  height: 670px; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  justify-content: flex-start; 
}

.card-slider .card-item .card-image {
  max-width: 400;
  width: 100%;
  height: 250px;
  border: 3px solid var(--main-color);
  border-end-start-radius: 8px;

  
}

.card-slider .card-item .card-title {
  font-size: 24px;
  margin: 16px 0 8px;
}

.card-slider .card-item .card-button {
  padding: 8px 24px;
  margin-top: 12px;
  background: var(--main-color);
  color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.card-slider .card-item .card-button:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

.card-slider #photographer .card-image {
  border-color: var(--main-color);
}

.card-slider #photographer .card-button {
  background: var(--main-color);
  border: 2px solid #ff0000;
}

.card-slider #photographer .card-button:hover {
  background: transparent;
  color: var(--main-color);
}

.card-slider #freelancer .card-image {
  border-color: var(--main-color);
}

.card-slider #freelancer .card-button {
  background: var(--main-color);
  border: 2px solid #008000;
}

.card-slider #freelancer .card-button:hover {
  background: transparent;
  color:  var(--main-color);
}

.card-slider #gamer .card-image {
  border-color: var(--main-color);
}

.card-slider #gamer .card-button {
  background: var(--main-color);
  border: 2px solid var(--main-color);
}

.card-slider #gamer .card-button:hover {
  background: transparent;
  color:  var(--main-color);
}

.card-slider #researcher .card-image {
  border-color: var(--main-color);
}

.card-slider #researcher .card-button {
  background: var(--main-color);
  border: 2px solid #ff8000;
}

.card-slider #researcher .card-button:hover {
  background: transparent;
  color: var(--main-color);
}

.card-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--main-color);
}

.card-slider .slider-button {
  color: var(--main-color);
  margin-top: -40px;
  transition: 0.3s ease;
}

.card-slider .slider-button:hover {
  color: #00ace2;
}

@media screen and (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .card-slider .slider-button {
    display: none;
  }
}
.card-description{
  font-size: 2rem;
  color: var(--bg-color);
}
.card-title{
  font-size: 3rem;
  color: var(--bg-color);
}

.about-us{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}
.about-content1 p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  color: rgb(115,243,247);
}
.about-content1 span{
  font-size: 10rem;
  font-weight: 500;
}
.about-content1 h3{
  font-size: 5rem;
  font-weight: 500;
  margin-top: 3rem;
  color: rgb(115,243,247);
}
.about-content1 li{
  font-size: 3rem;
  font-weight: 500;
  margin-top: 1rem;
  color: rgb(115,243,247);
}

.contact{
  background-color: var(--bg-color);
  
  
}
.contact h2{
  text-align: center;
  font-size: 7rem;
  margin-bottom: 3rem;
  color: rgb(115,243,247);

}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}
.contact form .input-box input,.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem;
  resize: none;
}
.footer{
  background-color: var(--second-bg-color);
  padding: 50px 0;

}

.footer .social-icons {
  text-align: center;
 
}

.footer ul{
  text-align: center;
  font-size: 1.8rem;
}
.footer ul li{
  display: inline-block;
  margin-left: 20px;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
  border-bottom: 3px solid var(--main-color);
}
  

.footer .copyright{
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}



@media(max-width:1285px){
  #menu-icon{
    display: block;
  
}


  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0,  0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;

  }


  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar.active{
    display: block;
  }

  .gradient-btn{
    display: none;
  }
  .home{
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
    background: url(Flux_Dev_A_futuristic_hightech_background_image_featuring_a_st_3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  }
  .home-content{
    align-items: center;
    text-align: center;
  }
  .home-img img{
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
  .about{
    flex-direction: column-reverse;
    text-align: center;
    
  }
  .about h2{
    text-align: center;
    margin: 2rem 0;
  }
  .about img{
    width: 52vw;
  }
  .event{
    align-items: center;
    text-align: center;
    padding: min(5em, 8%);
  }
  .contact form{
    flex-direction: column;
  }
  
}

element.style {
  visibility: visible;
  animation-name: zoomIn;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes zoomIn{
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
}
50% {
    opacity: 1;
}
}
